In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
train_data = pd.read_csv(r"C:\Users\Brad\OneDrive - Ashesi University\Desktop\Ashesi University\Senior Year Sem 2\Capstone 2\Data\train_data_2.csv")

In [3]:
damage_labels = [1, 2, 3]

In [4]:
#Minimum sample count
min_count = np.inf
for label in damage_labels:
    count = (train_data["damage_grade"] == label).sum()
    if count < min_count:
        min_count = count

In [5]:
print(min_count)

25124

In [6]:
# Selecting random number of samples equal to the min sample count
bal_train_data = pd.concat([train_data[train_data["damage_grade"] == label].sample(min_count) for label in damage_labels])
train_data = bal_train_data

In [7]:
train_data.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
52316,13,1211,1175,2,0,4,4,t,r,n,...,0,0,0,0,0,0,0,0,0,1
193358,26,1050,8654,1,20,10,3,t,r,q,...,0,0,0,0,0,0,0,0,0,1
241077,26,39,11246,1,20,9,3,t,i,x,...,0,0,0,0,0,0,0,0,0,1
29972,7,157,1548,3,0,23,10,t,i,x,...,0,0,0,0,0,0,0,0,0,1
190796,26,1216,11111,2,10,12,4,t,r,n,...,0,0,0,0,0,0,0,0,0,1

In [8]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [9]:
#Encoding
train_data["land_surface_condition"] = encoder.fit_transform(train_data["land_surface_condition"])
train_data["foundation_type"] = encoder.fit_transform(train_data["foundation_type"])
train_data["roof_type"] = encoder.fit_transform(train_data["roof_type"])
train_data["ground_floor_type"] = encoder.fit_transform(train_data["ground_floor_type"])
train_data["other_floor_type"] = encoder.fit_transform(train_data["other_floor_type"])
train_data["position"] = encoder.fit_transform(train_data["position"])
train_data["plan_configuration"] = encoder.fit_transform(train_data["plan_configuration"])
train_data["legal_ownership_status"] = encoder.fit_transform(train_data["legal_ownership_status"])

In [10]:
train_data.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
52316,13,1211,1175,2,0,4,4,2,2,0,...,0,0,0,0,0,0,0,0,0,1
193358,26,1050,8654,1,20,10,3,2,2,1,...,0,0,0,0,0,0,0,0,0,1
241077,26,39,11246,1,20,9,3,2,1,2,...,0,0,0,0,0,0,0,0,0,1
29972,7,157,1548,3,0,23,10,2,1,2,...,0,0,0,0,0,0,0,0,0,1
190796,26,1216,11111,2,10,12,4,2,2,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
x = train_data.drop(columns=['damage_grade'], axis=1)
y = train_data['damage_grade']

In [12]:
from sklearn.feature_selection import RFECV
from sklearn.ensemble import RandomForestClassifier

In [13]:
classifier = RandomForestClassifier()

In [14]:
rfecv = RFECV(estimator=classifier,scoring='f1_macro')
rfecv.fit(x,y)

RFECV(estimator=RandomForestClassifier(), scoring='f1_macro')

In [15]:
for i, col in zip(range(x.shape[1]), x.columns):
    print(f"{col} selected={rfecv.support_[i]} rank={rfecv.ranking_[i]} \n{i}")

geo_level_1_id selected=True rank=1
0
geo_level_2_id selected=True rank=1
1
geo_level_3_id selected=True rank=1
2
count_floors_pre_eq selected=True rank=1
3
age selected=True rank=1
4
area_percentage selected=True rank=1
5
height_percentage selected=True rank=1
6
land_surface_condition selected=True rank=1
7
foundation_type selected=True rank=1
8
roof_type selected=True rank=1
9
ground_floor_type selected=True rank=1
10
other_floor_type selected=True rank=1
11
position selected=True rank=1
12
plan_configuration selected=True rank=1
13
has_superstructure_adobe_mud selected=True rank=1
14
has_superstructure_mud_mortar_stone selected=True rank=1
15
has_superstructure_stone_flag selected=True rank=1
16
has_superstructure_cement_mortar_stone selected=False rank=5
17
has_superstructure_mud_mortar_brick selected=True rank=1
18
has_superstructure_cement_mortar_brick selected=True rank=1
19
has_superstructure_timber selected=True rank=1
20
has_superstructure_bamboo selected=True rank=1
21
has_superstructure_rc_non_engineered selected=True rank=1
22
has_superstructure_rc_engineered selected=False rank=3
23
has_superstructure_other selected=False rank=6
24
legal_ownership_status selected=True rank=1
25
count_families selected=True rank=1
26
has_secondary_use selected=True rank=1
27
has_secondary_use_agriculture selected=False rank=2
28
has_secondary_use_hotel selected=False rank=4
29
has_secondary_use_rental selected=False rank=8
30
has_secondary_use_institution selected=False rank=10
31
has_secondary_use_school selected=False rank=11
32
has_secondary_use_industry selected=False rank=9
33
has_secondary_use_health_post selected=False rank=13
34
has_secondary_use_gov_office selected=False rank=12
35
has_secondary_use_use_police selected=False rank=14
36
has_secondary_use_other selected=False rank=7
37